@import "tailwindcss";

:root {
  --light-black: #2d2d2d;
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #d98b1e;
  --secondary: #ce9b54;
  --gray: #8b8b8b;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "New Amsterdam", sans-serif;
  --font-header: "Bebas Neue", sans-serif;
  --font-mono: var(--font-geist-mono);
}

@font-face {
  font-family: "Bebas Neue";
  src: url("/fonts/BebasNeue-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Bebas Neue", Arial, Helvetica, sans-serif;
}

.font-header {
  font-family: var(--font-header);
}

.text-shadow-hard {
  text-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
}

.box-shadow-hard {
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
}

.input-slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 6px;
  background: linear-gradient(
    to right,
    var(--primary) 0%,
    var(--primary) calc(var(--value, 100) * 1%),
    var(--gray) calc(var(--value, 100) * 1%),
    var(--gray) 100%
  );
  border-radius: 9999px;
  outline: none;
  transition: background 0.2s linear;
}

/* Chrome */
.input-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 16px;
  width: 16px;
  background: var(--primary);
  border-radius: 50%;
  cursor: pointer;
  margin-top: 0px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

/* Firefox */
.input-slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--primary);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.linear-fade-edges {
  mask-image:
    linear-gradient(to top, transparent 0%, black 15% 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15% 85%, transparent 100%);
  mask-composite: intersect;
  -webkit-mask-image:
    linear-gradient(to top, transparent 0%, black 15% 85%, transparent 100%),
    linear-gradient(to left, transparent 0%, black 15% 85%, transparent 100%);
  -webkit-mask-composite: source-in;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}
